/* search list table */
.table_hor_03 {width:100%;margin:0 0 15px 0;border:0;text-align:left !important;border:1px solid #e0e0e0;border-top:1px solid #e0e0e0;border-right:1px solid #e0e0e0;border-left:1px solid #e0e0e0;background:#fff;font-size:11px;table-layout:fixed;word-wrap:break-word;}/* sort option */
.table_hor_03 th        {height:27px;text-align:left;padding-left:5px;border:0;border-bottom:1px solid #e4e4e4;background:#e4e4e4;color:#444;font-size:12px;line-height:18px;border-right:1px solid #f0f0f0;}
.table_hor_03 th.no_border {border:0;}
.table_hor_03 th.chk    {padding-left:0;margin:0;text-align:center;}
.table_hor_03 th a      {display:inline-block;padding:0 10px 0 0;color:#444;background:url(../images/sort_down_dft.gif) no-repeat 100% 4px;text-decoration:none}
.table_hor_03 th a.des  {background:url(../images/sort_up_dft.gif) no-repeat 100% 4px;}
.table_hor_03 th a.asc  {background:url(../images/sort_down_curr.gif) no-repeat 100% 3px;}
.table_hor_03 tr.over   {background:#f7f7f6}
.table_hor_03 tr.selected {background:#fffbde}
.table_hor_03 tr.notification {background:#f5cdb2}
.table_hor_03 tr.last td {border-bottom:1px solid #e0e0e0}
.table_hor_03 td.rgt {text-align:right}
.table_hor_03 td {padding:5px 0;text-align:left;color:#777;border:0;border-right:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;}
.table_hor_03 td table td {border:0;text-align:left;}
.table_hor_03 td a {padding-left:5px;text-align:left;}
.table_hor_03 td a img{padding-left:5px;vertical-align:middle;text-align:left;}
.table_hor_03 td.un {color:#bbb}
.table_hor_03 td .title {font-weight:bold;text-align:left;padding-left:5px;padding-right:5px;font-size:11px;color:#444444;}
.table_hor_03 td .optionbox {width:150px;}
.table_hor_03 td.calendar {padding-left:20px;}
.table_hor_03 td.textbox {width:120px;}
.table_hor_03 .input_search {width:300px;}
.table_hor_03 td.not_fnd {padding:19px 0 17px 0;border-bottom:1px solid #e0e0e0;text-align:center;}
.table_hor_03 td a:link, .table_hor_02 td a:visited     {color:#3c7cb4;text-decoration:underline}
.table_hor_03 td a:hover, .table_hor_02 td a:active {color:#3c7cb4;text-decoration:underline}
.table_hor_03 td a.unpub:link, .table_hor_02 td a.unpub:visited     {color:#bbb;text-decoration:none}
.table_hor_03 td a.unpub:hover, .table_hor_02 td a.unpub:active {color:#bbb;text-decoration:none}
.table_hor_03 td a.list_move:link, .table_hor_02 td a.list_move:visited {text-decoration:none}
.table_hor_03 td a.list_move:hover, .table_hor_02 td a.list_move:active {text-decoration:none}
.table_hor_03 td .able {display:block;color:#693}
.table_hor_03 td .non_able {display:block;color:#c30}
.table_hor_03 td .row_split {display:block}
.table_hor_03 td .row_split2 {display:block;margin-top:5px}



/** =========================================for input form table================================================== **/
.table_input_vr {width:100%;margin-bottom:33px;border:0;}
.table_input_vr th {padding:9px 0;border:0;font-weight:normal;font-size:12px;text-align:left;vertical-align:top;color:#444;line-height:normal;}
.table_input_vr td {padding:7px 0;border:0;color:#777;text-align:left;}
.table_input_vr a {text-decoration:underline}
.table_input_vr a img {padding:0 5px 0 5px;vertical-align:middle;}
.table_input_vr p {margin-top:3px}
.table_input_vr input {width:99%;padding-left:0;font-size:12px;}
.table_input_vr input.fix {width:110px;height:17px;}
.table_input_vr input.fix2 {width:335px;height:17px;}
.select_option {float:left;width:120px;height:20px;margin-left:10px;}
.table_input_vr input.fix_size {width:43px;height:12px;}
.table_input_vr tr td #textarea_memo{width:345px !important;min-width:345px;height:150px;resize:none}
.table_input_vr select {float:left;width:120px;height:20px;}
.table_input_vr .utc {display:inline-block;margin-left:4px;padding:0 5px;background:#ddd;font-style:italic;line-height:16px;vertical-align:middle}
.table_input_vr .chk_group {position:relative;float:left;overflow:auto;min-width:264px;max-height:185px;padding:10px 17px 14px 17px;background:#fff;border:1px solid #dfdfde;}
.table_input_vr .chk_group p {white-space:nowrap}
.table_input_vr .content {display:block;}

.table_input_vr .require_wrap {margin-top:10px}
.table_input_vr .require_wrap .neccesary {float:left;margin-right:8px}
.table_input_vr .require_wrap .chk_group {min-width:253px}
.select_warning{
    border:solid 2 #DC4E22;
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=-0,color=#DC4E22) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2,color=#DC4E22) progid:DXImageTransform.Microsoft.dropshadow(OffX=-2, OffY=-1,color=#DC4E22)  progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=-1,color=#DC4E22)
}

.select_ok{
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0) 
}

.window_info{color:#333333;font-family:Helvetica;font-size:11px;text-decoration:none;}
.search_result{display:block;}
.search_result .search_title{display:block;text-align:left;height:25px !important;font-size:13px;font-family:verdana;padding:15px 0 0 5px;font-weight:bold;}
.search_result .search_location{display:inline-block;width:100%;margin:0;padding:0;border:solid 1px #CCC;overflow:auto;background:whitesmoke;}
.search_result .search_location li{display:inline-block;margin:0 !important;padding:5px 0 2px 5px !important;text-align:middle !important;word-wrap: break-word;width:390px;}
.search_result .search_location li .span_btn .radio_btn{width:10px !important;border:solid 1px whitesmoke;margin:0 4px 0 1px;}
.search_result .search_location li .search_address{margin:0 9px 0 1px;width:350px}
.search_result .search_location li .span_btn{}


